main {
  padding: 20px 100px;
}

footer {
  background-color: #054522;
  width: 100%;
  height: 20vh;
}

h1,
h2,
h3,
p {
  font-family: Inter;
  color: white;
}

h1 {
  font-size: 120px;
  margin: 0px;
  margin-bottom: 60px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 35px;
  text-align: center;
}

p {
  font-size: 20px;
}

section {
  margin-bottom: 100vh;
}

.firstP {
  max-width: 700px;
}

.greenSpace {
  width: 50%;
  height: 850px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -1;
  background-color: #094f28;
}

.imgCar {
  position: absolute;
  right: 100px;
  top: 410px;
  z-index: 2;
}

.centered {
  display: grid;
  place-items: center;
  /* animation: cssAnimation ease 5s; */
  animation-name: cssAnimation;
  animation-duration: 2s;
  animation-delay: 5s;
  /* transition: opacity 1s ease; */
  opacity: 0;
}

@keyframes cssAnimation {
  0% {
    /* visibility: 1; */
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #showMe {
  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
} */

.scroll {
  margin: 0 auto;
}

.centered::after {
  content: "Scroll verder";
  color: white;
  font-size: 1em;
}

.yellowColor {
  display: block;
  padding: 30px 0px;
  color: #f6ae2d;
}

.bigYellow {
  color: #f6ae2d;
  font-size: 2em;
  font-weight: bold;
  display: block;
  margin: 40px 0px;
}

.bigGreen {
  color: #f6ae2d;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

/* .App p {
  max-width: 700px;
} */

svg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.bars {
  fill: #f6ae2d;
}

text {
  fill: white;
}

.lines {
  stroke: #b4b4b4;
}

.city {
  fill: #219267;
}

.garages {
  fill: maroon;
}

.chargingpoints {
  fill: #f6ae2d;
}
