main {
  padding: 20px 16px;
}

h1 {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 60px;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 35px;
  text-align: center;
}

p {
  font-size: 16px;
}

svg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

section {
  margin-bottom: 100vh;
}

section:last-of-type {
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #054522;
  width: 100%;
  height: 20vh;
}

.loading {
  height: 100vh;
  padding-top: 30vh;
}

.firstP {
  max-width: 700px;
}

/* .greenSpace {
  width: 50%;
  height: 850px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -1;
  background-color: #094f28;
} */

.imgCar {
  position: absolute;
  right: 20px;
  top: 410px;
  z-index: 2;
  width: 200px;
}

.centered {
  margin-top: 50px;
  display: grid;
  place-items: center;
  visibility: hidden;
}

.scroll {
  margin: 0 auto;
}

.centered::after {
  content: "Scroll verder";
  color: white;
  font-size: 1em;
}

.yellowColor {
  display: block;
  padding: 10px 0px;
  color: #f6ae2d;
}

.bigYellow {
  color: #f6ae2d;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 20px 0px;
}

.bigGreen {
  color: #f6ae2d;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.bars {
  fill: #f6ae2d;
}

text {
  fill: white;
}

.lines {
  stroke: #b4b4b4;
}

.city {
  fill: #043E1D;
  stroke: white;
  stroke-width: 0.03px;
}

.garages {
  fill: maroon;
}

.chargingpoints {
  fill: #f6ae2d;
}

@media (min-width: 450px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  main {
    padding: 20px 100px;
  }
  
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .bigYellow {
    margin: 40px 0px;
    font-size: 2em;
  }

  .yellowColor {
    padding: 20px 0px;
  }

  .imgCar {
    top: 410px;
    right: 100px;
    width: 200;
    height: 100;
  }
  .centered {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 20px 60px;
  }
  
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 40px;
  }

  .yellowColor {
    padding: 30px 0px;
  }

  .imgCar {
    width: auto;
    height: auto;
  }

}