h1, h2, h3, p {
  font-family: Inter;
  color: white;
}

h1 {
  font-size: 120px;
  margin: 0px;
  margin-bottom: 100px;
}

h2 {
  font-size: 65px;
  text-align: center;
}

h3 {
  font-size: 35px;
  text-align: center;
}

p {
  font-size: 20px;
}

section {
  margin-bottom: 100vh;
}

footer {
  background-color: #054522;
  width: 100vw;
  height: 20vh;
}

.firstP {
  max-width: 700px;
}

.greenSpace {
  width: 50%;
  height: 850px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -1;
  background-color: #094F28;
}

.imgCar {
  position: absolute;
  right: 100px;
  top: 410px;
  z-index: 2;
}

main {
  padding: 50px 100px;
}

.yellowColor {
  display: block;
  padding: 30px 0px;
  color: #F6AE2D;
}

.bigYellow {
  color: #F6AE2D;
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.bigGreen {
  color: #F6AE2D;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

/* .App p {
  max-width: 700px;
} */

.bars {
  fill: #F6AE2D;
}

text {
  fill: white;
}

.lines {
  stroke: #b4b4b4;
}

.city {
  fill: #219267;
}

.garages {
  fill:maroon;
}

.chargingpoints {
  fill: #F6AE2D;
}
